.storybook-button {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  border: 2px solid #3017a1;
  border-radius: 6rem;
  cursor: pointer;
  display: inline-block;
  font-size: 0.875rem;
  padding: 0.5rem 1.25rem;
  line-height: 1;
}
.storybook-button--primary {
  color: white;
  background-color: #3017a1;
}

.storybook-button--secondary {
  color: #3017a1;
  background-color: transparent;
}

.storybook-button:hover {
  color: white;
  background-color: #de0093;
  border-color: #de0093;
}

.storybook-button:focus {
  outline: 2px solid #3017a1;
  outline-offset: 3px;
}

.storybook-button[disabled] {
  background-color: #ddd;
  border-color: #ddd;
  color: #999;
  cursor: not-allowed;
}
